.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    transition: ease-in-out 2s;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}

@media screen and (max-width: 1200px) {
    .logo-container {
        z-index: -3;
        width: 300px;
        height: 609px;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 0;
        margin: auto;

        svg {
            width: 100%;
            height: auto;
            bottom: 0;
            transform: rotateZ(30deg) !important;
        }

        .logo-container svg {
            position: absolute;
            top: 0%;
            left: 0;
            margin: auto;
        }
    }
}